version: "3.0"
services:
  mysql:
    image: "mysql:5.7"
    environment:
      - MYSQL_ROOT_PASSWORD=pass
      - MYSQL_ROOT_HOST=%
    container_name: "vinyldns-mysql"
    ports:
      - "19002:3306"

  bind9:
    image: "vinyldns/bind9:0.0.4"
    container_name: "vinyldns-bind9"
    ports:
      - "19001:53/udp"
      - "19001:53"
    volumes:
      - ./bind9/etc:/var/cache/bind/config
      - ./bind9/zones:/var/cache/bind/zones

  api:
    image: "vinyldns/api:latest"
    container_name: "vinyldns-api"
    ports:
      - "9000:9000"
    depends_on:
      - mysql
      - bind9
    volumes:
      - "./conf:/opt/docker/conf"
