version: "3.0"
services:
  mysql:
    image: "mysql:5.7"
    env_file:
      .env
    container_name: "vinyldns-mysql"
    ports:
      - "19002:3306"

  bind9:
    image: "vinyldns/bind9:0.0.1"
    env_file:
      .env
    container_name: "vinyldns-bind9"
    ports:
      - "19001:53/udp"
      - "19001:53"
    volumes:
      - ./bind9/etc:/var/cache/bind/config
      - ./bind9/zones:/var/cache/bind/zones

  api:
    image: "vinyldns/api:0.8.0-SNAPSHOT"
    env_file:
      .env
    container_name: "vinyldns-api"
    ports:
      - "${REST_PORT}:${REST_PORT}"
    depends_on:
      - mysql
      - bind9
    volumes:
      - "./conf:/opt/docker/conf"
